<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="../static/js/jquery-3.6.0.min.js"></script>
<script src="../static/js/base64.min.js"></script>

<style>
    *{
        padding: 0;
        margin: 0;
    }
    .ssh-wrap{
        width: 100%;
        flex:1;
    }
    html,body,.wrap,.fit{
        width: 100%;
        height:100%;
    }
    .wrap{
        display: flex;
        flex-direction: column;
    }
    .button-wrap>div{
        display: flex;
        margin: 5px 0px;
        align-items: center;
        margin-left: 10px;
    }
    .button-wrap>div>span{
        min-width: 150px;
    }
    iframe{
        border: none;
    }
    input,button{
        margin-left: 10px;
    }
</style>
<script>
    update=function(){
        setIframeUrl(getSSHuRL()+"&command=python3 /opt/TikTokDownloadTool/TikTokMulti.py 2");
    }
    getSSHuRL=function(){
        //"http://192.168.1.11:9234/?hostname=192.168.1.11&port=9922&username=root&password=cm9vdA=="
        return "http://"+document.getElementById("webSSHInfo_ip").value+
        ":"+
        document.getElementById("webSSHInfo_port").value+
        "/?"+"hostname="+
        document.getElementById("SSHInfo_ip").value+
        "&port="+
        document.getElementById("SSHInfo_port").value+
        "&username="+
        document.getElementById("SSHInfo_user").value+
        "&password="+
        Base64.encode(document.getElementById("SSHInfo_password").value);
    },
    setIframeUrl=function(src){
        document.getElementById("ssh").src=src
    }
    window.firstLoad=true;
    init=function(){
        if(window.firstLoad){
            if(!document.getElementById("SSHInfo_ip").value)
            {
                document.getElementById("SSHInfo_ip").value=location.hostname;
            }
            if(!document.getElementById("webSSHInfo_ip").value)
            {
                document.getElementById("webSSHInfo_ip").value=location.hostname;
            }

            setIframeUrl(getSSHuRL())
            window.firstLoad=false;
        }
    }
    fullDownload=function(e){
        var homePageUrl=document.getElementById("homePageUrl").value;
        if(!homePageUrl)
        {
            alert("请复制博主主页地址！");
            return;
            
            document.getElementById("homePageUrl").value=homePageUrl;
        }

        setIframeUrl(getSSHuRL()+"&command=python3 /opt/TikTokDownloadTool/TikTokMulti.py 1 "+filterDoubleByteCharacter(homePageUrl));
    }
    filterDoubleByteCharacter=function(text){
        if(text)
        {
            return text.replace(new RegExp(/[^\x00-\xff]/g),"").replace(" ","")
        }
        return ""
    }
    saveConfig = function () {
            $.ajax(
                {
                    type: "POST",
                    url: "/saveConfig",
                    data: {
                        "config": JSON.stringify({
                            "SSHInfo": {
                                "ip": document.getElementById("SSHInfo_ip").value,
                                "port": document.getElementById("SSHInfo_port").value,
                                "user": document.getElementById("SSHInfo_user").value,
                                "password": document.getElementById("SSHInfo_password").value
                            },
                            "webSSHInfo": {
                                "ip": document.getElementById("webSSHInfo_ip").value,
                                "port": document.getElementById("webSSHInfo_port").value
                            }
                        })
                    },
                    header:{ "Content-Type": "application/x-www-form-urlencoded"},
                    success: function (msg) {
                        alert("保存配置成功！");
                        setIframeUrl(getSSHuRL())
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                        alert("保存配置失败！"+error);
                    }
                });
        }
</script>
<body>
    <div class="wrap">
        <div class="button-wrap">
            {% for item in config.keys() %}
                {% for key in config[item] %}
                    <div>
                        <span>{{item+"_"+key}}</span>
                        <input class="input" id="{{item+"_"+key}}" value="{{config[item][key]}}">
                    </div>
                {% endfor %}
            {% endfor %}
            <button onclick="saveConfig()">保存配置</button>
            <div>
                <span>功能1：</span>
                <input class="input" id="homePageUrl">
                <button onclick="fullDownload()">全量下载</button>
            </div>
            <div>
                <span>功能2：</span>
                <button onclick="update()">增量下载</button>
            </div>
        </div>
        <div class="ssh-wrap">
            <iframe id="ssh" class="fit" onload="init()"></iframe>
        </div>
    </div>
</body>
</html>